{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Esclarece Aqui</title>
  <link rel="stylesheet" href="{% static "main.css" %}">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css" >
</head>

<body>
  <header>
    <nav class="menu">
      <h1 class="menu-branding">
        esclarece aqui
      </h1>
      <ul class="menu-nav">
        <li class="nav-item">
          <a href="blog.html" class="nav-link">login</a>
        </li>
      </ul>
    </nav>
  </header>

  <main id="home">
    <div class="bar">
      <div class="esquerda">
        <button class="aberta">Abertas</button>
        <button class="fechada">Fechadas</button>
        <button class="andamento">Em andamento</button>
      </div>
      <div class="direita">
        <button id="grid"><i class="fa fa-th-large"></i></button>
        <button id="list"><i class="fa fa-bars"></i></button>
      </div>
    </div>
    <div class="adiciona">
      <button id="add">Solicitar esclarecimento</button>
    </div>

    <div id="card-block" class="show-grid">
      <div class="card-img abrt" style="background-image: url(../img/outdoor1.jpeg);">
        <a href="#" class="card-url">
          <div class="card">
            <h2>Titulo</h2>
            <h4 class="hidden">Endereco</h4>
          </div>
        </a>
      </div>

      <div class="card-img fchd" style="background-image: url(../img/outdoor2.jpeg);">
        <a href="#" class="card-url">
          <div class="card">
            <h2>Titulo</h2>
            <h4 class="hidden">Endereco</h4>
          </div>
        </a>
      </div>

      <div class="card-img andt" style="background-image: url(../img/outdoor3.jpg);">
        <a href="#" class="card-url">
          <div class="card">
            <h2>Titulo</h2>
            <h4 class="hidden">Endereco</h4>
          </div>
        </a>
      </div>

      {% for esclarecimento in esclarecimentos  %}
      <div class="card-img andt" style="background-image: url({% if esclarecimento.get_foto_principal %}{{esclarecimento.get_foto_principal.foto.url}}{% endif %});">
        <a href="{% url 'esclarecimento:add_chat' id=esclarecimento.id %}" class="card-url">
          <div class="card">
            <h2>{{esclarecimento.titulo}}</h2>
            <h4 class="hidden">{{esclarecimento.descricao}}</h4>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </main>

  <script src="{% static "button.js" %}"></script>
</body>

</html>

<!-- https://stackoverflow.com/questions/41542845/how-to-display-file-name-for-custom-styled-input-file-using-jquery -->
