header {
  width: 100%;
  left: 0;
  top: 0; }
  header .menu {
    width: 100%;
    top: 0;
    left: 0;
    padding: 1vh;
    padding-bottom: 40px; }
    header .menu-branding, header .menu-nav {
      display: flex;
      width: 50%; }
    header .menu-branding {
      float: left;
      font-weight: 300;
      margin: 0;
      padding-left: 5rem;
      font-weight: 400;
      text-transform: uppercase; }
      header .menu-branding a {
        color: #000;
        text-decoration: none; }
      header .menu-branding .branding-detail {
        color: #0088aa; }
    header .menu-nav {
      margin: 0;
      float: right;
      padding: 0;
      justify-content: flex-end;
      padding-right: 5rem; }
      header .menu-nav .nav-item {
        font-size: 1.1rem;
        padding: 5px 10px;
        list-style: none;
        display: flex;
        flex-direction: row;
        text-transform: uppercase;
        font-weight: 300;
        color: #302830; }
        header .menu-nav .nav-item.current {
          font-weight: 800; }
        header .menu-nav .nav-item .nav-link {
          font-weight: 400;
          color: #000;
          text-decoration: none; }

* {
  box-sizing: border-box; }

body {
  background: #fff; }

main#home {
  padding: 0 60px; }
  main#home .bar {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    margin-top: 20px; }
    main#home .bar .esquerda .aberta,
    main#home .bar .esquerda .fechada,
    main#home .bar .esquerda .andamento {
      background-color: #63888c;
      color: white;
      border: none;
      cursor: pointer;
      padding: 10px;
      opacity: 0.9; }
    main#home .bar .direita {
      margin-left: auto; }
      main#home .bar .direita button {
        background-color: #63888c;
        color: white;
        padding: 10px;
        border: 0px; }
  main#home .adiciona {
    margin-top: 5px;
    width: 100%; }
    main#home .adiciona button {
      background-color: #35ad53;
      color: white;
      padding: 10px;
      border: 0px;
      width: 100%; }
  main#home #card-block .card-url {
    text-decoration: none;
    color: black; }
  main#home #card-block .card.abrt {
    border: 5px solid red; }
  main#home #card-block .card.fchd {
    border: 5px solid green; }
  main#home #card-block .card.andt {
    border: 5px solid yellow; }
  main#home #card-block.show-grid {
    padding-top: 10px;
    width: 100%;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(4, 4fr);
    border: 0; }
    main#home #card-block.show-grid .card {
      padding-top: 75%;
      text-align: center; }
      main#home #card-block.show-grid .card .hidden {
        display: none; }
      main#home #card-block.show-grid .card h2 {
        text-transform: uppercase;
        padding-bottom: 0.4rem;
        padding-top: 0.4rem;
        margin: 0;
        font-weight: normal;
        text-align: center;
        background: #ccc; }
  main#home #card-block.show-list {
    display: block; }
    main#home #card-block.show-list .card {
      background-color: #bbb;
      margin: 30px 0; }
      main#home #card-block.show-list .card h2, main#home #card-block.show-list .card h4 {
        padding: 9px;
        margin: 0; }

main#form {
  background: #fff; }
  main#form .container {
    padding: 16px; }
  main#form textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1; }
  main#form textarea,
  main#form input[type=text],
  main#form input[type=email] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1; }
  main#form input[type=text]:focus {
    background-color: #ddd;
    outline: none; }
  main#form .img {
    margin-top: 10px; }
    main#form .img input[type=file] {
      display: none; }
    main#form .img label {
      background-color: #63888c;
      color: white;
      padding: 16px 20px;
      margin: 8px 4px 8px 0;
      border: none;
      cursor: pointer;
      opacity: 0.9;
      display: inline; }
    main#form .img label:hover {
      opacity: 1; }
  main#form .enviar {
    background-color: #63888c;
    color: white;
    padding: 16px 20px;
    margin: 26px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9; }
  main#form .enviar:hover {
    opacity: 1; }

main#chat .poste {
  width: 100%;
  height: 100%;
  margin: 0 auto; }
  main#chat .poste .poste-padding .poste-content .img-poste-obra {
    background-color: #eee;
    box-shadow: 0px 8px 17px 1px rgba(0, 0, 0, 0.2); }
    main#chat .poste .poste-padding .poste-content .img-poste-obra .img-poste {
      width: 100%;
      height: 200px;
      background-color: #eee; }
  main#chat .poste .poste-padding .poste-content .desc-poste {
    padding: 10px; }
  main#chat .poste .poste-padding .poste-content .coment-poste {
    float: left;
    width: 90%;
    margin-left: 5%;
    height: 100%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2); }
    main#chat .poste .poste-padding .poste-content .coment-poste .title-coment {
      height: 50px;
      background-color: #eee;
      padding-top: 1px; }
    main#chat .poste .poste-padding .poste-content .coment-poste .comentarios {
      width: 100%;
      float: left;
      margin-top: 5px; }
      main#chat .poste .poste-padding .poste-content .coment-poste .comentarios .img-coment-perfil {
        float: left;
        width: 20%; }
        main#chat .poste .poste-padding .poste-content .coment-poste .comentarios .img-coment-perfil .img-perfil {
          width: 50px;
          height: 50px;
          border-radius: 50%; }
      main#chat .poste .poste-padding .poste-content .coment-poste .comentarios .texto-coment {
        float: right;
        width: 80%; }
      main#chat .poste .poste-padding .poste-content .coment-poste .comentarios .form-chat .campo-email {
        width: 90%; }
      main#chat .poste .poste-padding .poste-content .coment-poste .comentarios .form-chat .campo-comentario {
        width: 90%;
        height: 100px; }
      main#chat .poste .poste-padding .poste-content .coment-poste .comentarios .form-chat .enviar {
        width: 150px;
        height: 70px; }

@media only screen and (min-width: 769px) and (max-width: 1170px) {
  main#home #card-block.show-grid {
    grid-template-columns: repeat(3, 3fr); } }

@media only screen and (max-width: 768px) {
  main#home #card-block.show-grid {
    grid-template-columns: repeat(2, 2fr); }
  main#home .bar {
    display: block; }
    main#home .bar .esquerda .aberta,
    main#home .bar .esquerda .fechada,
    main#home .bar .esquerda .andamento {
      margin-bottom: 4px;
      width: 100%; }
    main#home .bar .direita {
      display: grid;
      grid-template-columns: repeat(2, 2fr);
      grid-gap: 0.4rem; }
      main#home .bar .direita button {
        margin: 0 auto;
        display: inline-block;
        width: 100%; }
  main#form .img label {
    display: block;
    text-align: center; }
  main#form .enviar {
    margin: 14px 0; }
  header .menu-branding, header .menu-nav {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 0; } }

@media only screen and (max-width: 500px) {
  main#home #card-block.show-grid {
    grid-template-columns: repeat(2, 2fr); }
  header .menu-branding, header .menu-nav {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 0; } }
